<h1>Monster...</h1>

<img src="http://t08.deviantart.net/rREmumlmDWAKN4Xjz53qdWucKoE=/fit-in/700x350/filters:fixed_height(100,100):origin()/pre10/9783/th/pre/i/2016/207/4/5/demogorgon_by_blazenmonk-dabgu2v.jpg">
<p>
    You have encountered demogorgon...
</p>

<p>
    He looks ferocious
</p>

<p>
    What would you like to do?
</p>

<a href="/fight">Fight</a>
<a href="/begin">Run Away!</a>