<h1>Fighting!</h1>

<img src="http://t08.deviantart.net/rREmumlmDWAKN4Xjz53qdWucKoE=/fit-in/700x350/filters:fixed_height(100,100):origin()/pre10/9783/th/pre/i/2016/207/4/5/demogorgon_by_blazenmonk-dabgu2v.jpg"> 

<div>
<span class="health">Health: <%= session[:health] %></span>
<span class="monster">Monster: <%= session[:monster] %></span>
</div>

<p>
    What would you like to do?
</p>

<audio autoplay>
    <source src="/music.mp3">
</audio>

<a href="/attack">Attack</a>
<a href="/begin">Run Away!!!</a>